*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:black;
}
.container{
   width:30%;
   min-width: 450px;
   border:1px solid black;
   position: absolute;
   transform: translate(-50%,-50%);
   left:50%;
   top:50%;
   padding:50px 30px;
   background-image:url("4723250.jpg");
   background-size: cover;
   text-align: center;
   border-radius: 20px;
}
#date-id{
    width:200px;
    height:50px;
    padding:10px;
    margin:20px;
    font-size: 20px;
    border-radius: 10px;
}
button{
    background-color: rgb(17, 49, 92);
    width:90px;
    height:50px;
    padding:10px;
    margin:20px;
    color:rgb(72, 199, 34);
    font-size: medium;
    border:none;
    border-radius: 20px;
}
span,p{
    color:whitesmoke;
    font-size: 20px;
    position: relative;
    display: inline-flex;
    margin: 20px;
    width:80px;
    height:60px;
    background-color: rgb(231, 10, 10);
    padding:15px;
    border-radius: 15px;
    border: none;
}
span{
    font-size: 50px;
    font-weight: 500;
    justify-content: center;
    color:greenyellow;
}
button:hover{
    cursor:pointer;
    background-color:rgb(226, 18, 18); 
}

